body {
    background-color: #1c2331;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    margin: 20px;
}

.card-header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #3f3f3f;
    margin: 0;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.on-button {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.off-button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ab33ff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ab33ff;
    cursor: pointer;
}

.card-color-picker {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.bed1 {
    background: linear-gradient(to bottom right, #f1f1f1, #8BC34A);
}

.bed2 {
    background: linear-gradient(to bottom right, #f1f1f1, #FFEB3B);
}

.hallway {
    background: linear-gradient(to bottom right, #f1f1f1, #FF9800);
}

.kitchen {
    background: linear-gradient(to bottom right, #f1f1f1, #2196F3);
}
